<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse "> 
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="navbar-inner">
    <%= render 'shared/body/top_nav' %>   
  </div>
</div>
<!-- END HEADER --> 